<!DOCTYPE HTML>
<html>
<head>
    <title>Flask 웹서버를 이용하여 NodeMCU의 LED 제어</title>
    <meta charset="UTF-8">
    <script>
    function dhtchart() {
        window.location.href="/dhtchart";
    }
    </script>
</head>
<body>
    <h2>실시간 모니터링</h2>
    <hr />
    <h3>
        LED 상태 :
        {% if led_state == 1 %} on
        {% else %} off
        {% endif %}
    </h3>
    <h3>LED 제어(Toggle)</h3>
    <form action="/ledtoggle" method="post">
        <input type="submit" value="On/Off" />
    </form>
    <h3>LED 제어(OnOff)</h3>
    <form action="/led" method="post">
        <button name="status" value="on"> LED ON </button>
        <button name="status" value="off"> LED OFF </button>
    </form>
    <hr />
    <h3>실시간 DHT 센서 모니터링</h3>
    <input type="button" onClick="dhtchart()" value="DHT 모니터링" />
</body>
